@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  background-color: hsla(0, 0%, 45%, 1);
  color: white;
  font-family: "Black Ops One", system-ui;
  font-weight: lighter;
}

ul {
  outline: 2px solid black;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  box-shadow: 2px 2px 2px black;
}

li {
  list-style: none;
  margin: 10px;
}

.team-container, .fighters-container {
  display: flex;
  flex-wrap: wrap;
}

h4 {
  margin: 2px;
}

button {
  margin-top: 2px;
  cursor: pointer;
  background-color: hsla(0, 0%, 80%, 1);
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
}

button:hover {
  background-color: hsla(0, 0%, 80%, 0.65);
  transform: scale(1.05);
}
